﻿/* 見出し１ */
h1 {
	display:none;
}

#page_header table {
  width:100%;
  /*height:100%;*/
  height:50px;
  position:relative;/*top:0px;*/ left:0px;
  border-bottom-style: solid;
  border-color: #000022;
  /*vertical-align: middle;*/
}

#page_header #title_text {
  /*padding-left:120px;*/ color:#222299; font-weight:bold; font-size:11pt;
  /*vertical-align: bottom;*/
  /*padding-bottom: 40px;*/
  position:absolute;
  bottom:11px;
}

#page_header #header_info #user_info {
  /*width:300px;*/ height:24px; padding-top:7px; padding-right:7px; font-size:9pt; color:#000099;
}

#page_header #header_info #logout {
  /*height:24px;*/
}

#page_header #header_info a img {
  border:0px solid white;
  position:relative;top:6px;
}