
#PART_sidINVOICE_NO_A{
	width : 900px;
	height : 180px;
}

/* 【一覧の罫線定義】 */
#TH_g01 {
  border-collapse: collapse;
}

#TH_g_list thead tr th {	/* 一覧ヘッダー部（ラベル部） */
 border: 1px #cccccc solid;
}

#TH_g_list tbody tr td {	/* 一覧データ部 */
  border: 1px #cccccc solid;
}