#PART_sidA_JUMP1_01{
	width : 220px;
	height : 90px;
}

#PART_sidA_JUMP2_01{
	width : 220px;
	height : 90px;
}

#PART_sidA_JUMP3_01{
	width : 220px;
	height : 90px;
}

#PART_sidA_JUMP4_01{
	width : 220px;
	height : 90px;
}

#PART_sidA_JUMP5_01{
	width : 220px;
	height : 90px;
}

#PART_sidA_DMDL{
	width : 220px;
	height : 90px;
}

*[id$="sidSTATUS"]{
	color:red
}

#sidMESSAGE{
	color:red
}

#PART_sidDUMMY_BOX{
	display: none;
}

*[id$="sidNOTE_TEXT_field"]{
	width: 100%;
}


/* 【一覧の罫線定義】 */
#TH_g_update {
  border-collapse: collapse;
}

#TH_g_update thead tr th {	/* 一覧ヘッダー部（ラベル部） */
 border: 1px #cccccc solid;
}

#TH_g_update tbody tr td {	/* 一覧データ部 */
  border: 1px #cccccc solid;
}