#PART_sidEMP_CD{
	width : 900px;
	height : 230px;
}

#PART_sidINVOICE_NO_H{
	width : 550px;
}

/* 【一覧の罫線定義】 */
#TH_meisai {
  border-collapse: collapse;
}

#TH_meisai thead tr th {	/* 一覧ヘッダー部（ラベル部） */
 border: 1px #cccccc solid;
}

#TH_meisai tbody tr td {	/* 一覧データ部 */
  border: 1px #cccccc solid;
}