#PART_sidEMP_CD{
	width : 1300px;
	height : 280px;
}

#PART_sidUSD{
	width : 700px;
	height : 70px;
}

.sidC_AREA{
	background-color: #E3E8F6;
}

*[id$="sidC_AREA_AMOUNT_field"]{

	width: 100px;

	text-align: right;

}
	
*[id$="sidB_AREA_AMOUNT_field"]{

	width: 100px;

	text-align: right;

}

*[id$="sidA_AREA_AMOUNT_field"]{

	width: 100px;

	text-align: right;

}

*[id$="sidS_AREA_AMOUNT_field"]{

	width: 100px;

	text-align: right;

}

#sidMESSAGE{
	color:red
}

#sidMESSAGE_02{
	color:red
}

#sidMESSAGE_03{
	color:red
}


/* 【一覧の罫線定義】 */
#TH_meisai {
  border-collapse: collapse;
}

#TH_meisai thead tr th {	/* 一覧ヘッダー部（ラベル部） */
 border: 1px #cccccc solid;
}

#TH_meisai tbody tr td {	/* 一覧データ部 */
  border: 1px #cccccc solid;
}