#PART_sidADMINISTRATOR{
	width : 400px;
}

#sidADMINISTRATOR_field{
	border: 1px solid #000000;
}

#sidKIHYO_field{
	border: 1px solid #000000;
}

#sidKEIRI_KAKUNIN_field{
	border: 1px solid #000000;
}

#sidKEIRI_SYONIN_field{
	border: 1px solid #000000;
}

#sidSEISAN_KAKUNIN_field{
	border: 1px solid #000000;
}

#sidUKETORI_field{
	border: 1px solid #000000;
}

#PART_sidEMP_CD{
	width : 700px;
	height : 220px;
}

#PART_sidINVOICE_NO_H{
	width : 500px;
}

#PART_sidUSD{
	width : 680px;
	height : 70px;
}

*[id$="sidC_AREA_AMOUNT_field"]{

	width: 60px;

	text-align: right;

}
	
*[id$="sidB_AREA_AMOUNT_field"]{

	width: 60px;

	text-align: right;

}

*[id$="sidA_AREA_AMOUNT_field"]{

	width: 60px;

	text-align: right;

}

*[id$="sidS_AREA_AMOUNT_field"]{

	width: 60px;

	text-align: right;

}

#sidTOTAL_AMOUNT{
	font-size: 23px;
}

/* 【一覧の罫線定義】 */
#TH_meisai {
  border-collapse: collapse;
}

#TH_meisai thead tr th {	/* 一覧ヘッダー部（ラベル部） */
 border: 1px #cccccc solid;
}

#TH_meisai tbody tr td {	/* 一覧データ部 */
  border: 1px #cccccc solid;
}