#PART_sidEMP_CD{
	width : 1200px;
	height : 270px;
}
#PART_sidINVOICE_NO_H{
	width : 700px;
}

#PART_sidUSD{
	width : 700px;
	height : 70px;
}

*[id$="sidC_AREA_AMOUNT_field"]{

	width: 100px;

	text-align: right;

}
	
*[id$="sidB_AREA_AMOUNT_field"]{

	width: 100px;

	text-align: right;

}

*[id$="sidA_AREA_AMOUNT_field"]{

	width: 100px;

	text-align: right;

}

*[id$="sidS_AREA_AMOUNT_field"]{

	width: 100px;

	text-align: right;

}

#sidMESSAGE{
	color:red
}

#sidMESSAGE_02{
	color:red
}

#sidMESSAGE_03{
	color:red
}