#PART_sidA_JUMP1_01{
	width : 220px;
	height : 90px;
}

#PART_sidA_JUMP2_01{
	width : 220px;
	height : 90px;
}

#PART_sidA_JUMP3_01{
	width : 220px;
	height : 90px;
}

#PART_sidA_JUMP4_01{
	width : 220px;
	height : 90px;
}

#PART_sidA_JUMP5_01{
	width : 220px;
	height : 90px;
}

#PART_sidA_DMDL{
	width : 220px;
	height : 90px;
}

*[id$="sidSTATUS"]{
	color:red
}

#sidMESSAGE{
	color:red
}

#PART_sidDUMMY_BOX{
	display: none;
}

*[id$="sidNOTE_TEXT_field"]{
	width: 100%;
}